header {
    text-align: center;
}

/* Custom styles for previous and next icons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    /* Specify the color of the icon */
    filter: brightness(0%)
}

.card-body {
    background-color: gray;
}

.card-body figure {
    height:25%;
    width:25%;
}