body { 
    background: rgb(25,25,25) !important; 
}

header {
    text-align: center;
}

/* Custom styles for previous and next icons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    /* Specify the color of the icon */
    filter: brightness(100%)
}

/* .card-body {
    background-color: gray;
}

.card-body figure {
    height:25%;
    width:25%;
} */

.display-4 {
    margin-top: 50px;
    font-weight: bolder;
}

.jumbotron {
    text-align: center;
    color: white;
    background-color: rgb(50,50,50);
    padding-top: 40px;
    padding-bottom: 20px;
}

/* .email-button {
    height: 50px;
} */

.bd-example {
    background-color: rgb(25,25,25);
    margin-top: 0px;
}

.nav-link:hover {
    background-color: pink;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

.mission-card {
    background-color: rgb(50,50,50);
    margin: 3%;
    margin-top: 125px;
    color: white;
    border-radius: 10px;
}

.mission-title {
    text-align: center;
    text-shadow: 0 0 3px rgb(255,0,0), 0 0 5px rgb(255,0,0); 
    font-size: 5vw;
    font-weight: bolder;
}

.mission-text {
    margin-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.5vw;
}

.player-page-card {
    background-color: rgb(50,50,50);
    margin: 3%;
    margin-top: 125px;
    color: white;
    border-radius: 10px;
}

.player-deck {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.player-deck-2 {
    margin: 20px;
}

.player-card {
    background-color: rgb(75,75,75);
    color: white;
    text-align: center;
    border-radius: 10px;
}

.player-img {
    width: 90%;
    margin: 5%;
    border-radius: 10px;
}

.coach-page-card {
    background-color: rgb(50,50,50);
    margin: 3%;
    margin-top: 125px;
    color: white;
    border-radius: 10px;
}

.coach-card {
    background-color: rgb(75,75,75);
    color: white;
    text-align: center;
    border-radius: 10px;
}

.coach-img {
    width: 80%;
    margin: 10%;
    margin-bottom: 0%;
    border-radius: 10px;
}

.coach-deck {
    margin: 20px;
}

.hof-card {
    text-align: center;
    background-color: rgb(50,50,50);
    margin: 3%;
    margin-top: 125px;
    color: white;
    border-radius: 10px;
}

.hof-img {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 95%;
    border-radius: 10px;
}

.hof-item-card {
    background-color: rgb(75,75,75);
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    justify-content: center;
}

/* .hof-title {
    font-size: 1.5vw;
}

.hof-text {
    font-size: 1.5vw;
} */
